<ion-header>
    <ion-navbar>
        <button start ion-button menuToggle="left">
            <ion-icon color="primary" ios="ios-menu" md="md-menu"></ion-icon> Menu
        </button>
        <button end ion-button menuToggle="right" (click)="openOptions()">
            Options <ion-icon color="primary" ios="ios-cog" md="md-cog"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2 text-center>Home Page</h2>
    <button ion-button block (click)="goToLocationPage()">Go to map test only</button>
</ion-content>
