<ion-header>
</ion-header>

<ion-content>
    <!--<ion-slides >-->
        <!--<ion-slide >-->
            <form [formGroup]="formLoginPage" padding >

                <ion-avatar> 
                    <img [src]="loginPageLogo">
                </ion-avatar>

                <h2 text-center class="login-title">Login to continue</h2>

                <ion-list inset>

                    <ion-item>
                        <ion-label padding-left><ion-icon ios="ios-mail" md="md-mail"></ion-icon></ion-label>
                        <ion-input id="user_email" name="user_email" placeholder="email" formControlName="user_email" type="email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label padding-left><ion-icon ios="ios-key" md="md-key"></ion-icon></ion-label>
                        <ion-input id="user_password" name="user_password" placeholder="password" formControlName="user_password" type="password"></ion-input>
                    </ion-item>

                </ion-list>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50>
                            <button ion-button block color="primary" (click)="loginPage()" outline [disabled]="!formLoginPage.controls.user_email.valid || !formLoginPage.controls.user_password.valid"> Login <ion-icon name="log-in" padding-left></ion-icon></button>
                        </ion-col>
                        <ion-col width-50>
                            <button ion-button block (click)="createAccountStep1()">Sign in</button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        <!--</ion-slide>
    </ion-slides>-->
</ion-content>
