.ios, .md { 
    page-login-page { 
        ion-content {
            background-image: url(../assets/img/background-login.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
         
        ion-avatar > img {
            margin: auto;
        }

        .login-title {
            color: $login-title;
        }

        form {
            background-color: $login-background-transparent;
            border-radius: 4px;
            margin: 56px 16px;
        }
    }
}
