<ion-header>
    <ion-navbar>
        <ion-title>{{pageContent.title}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-list >
        <button ion-item *ngFor="let page of listOptions" (click)="itemSelected(page.component)">
            <ion-icon color="primary" ios="ios-{{page.icon}}" md="md-{{page.icon}}" item-left></ion-icon>{{page.title.title}}
        </button> 
        <!--<button ion-item (click)="logout()">
            <ion-icon ios="ios-log-out" md="md-log-out" item-left></ion-icon>{{pageContent.logout}}
        </button> -->
    </ion-list>
    <ion-list >
        <button ion-item (click)="logout()">
            <ion-icon ios="ios-log-out" md="md-log-out" item-left></ion-icon>{{pageContent.logout}}
        </button> 
    </ion-list>

</ion-content>
