<ion-menu [content]="content" side="left" id="menuLeft">
    <ion-header>
        <ion-toolbar>
            <!--<img src="assets/img/logo-app.svg" />-->
            <ion-title text-center>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let page of sideMenuLeft" (click)="openPageLeft(page)">
                <ion-icon color="primary" ios="ios-{{page.icon}}" md="md-{{page.icon}}" item-left></ion-icon>{{page.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
