.welcome-page {
	background-image: url(../assets/img/background-login.jpg);
	background-repeat: none;
	background-size: cover;
	background-position: left;

	.slide-zoom {
		background-color: $login-background-transparent;
		border-radius: 4px;
		margin: 56px 16px;

	}

	h3, p {
		color: $intro-content;
	}
}
