<ion-header>
</ion-header>
<ion-content class="welcome-page">
    <ion-slides [options]="mySlideOptions">
        <ion-slide *ngFor="let slide of slides">
            <h3 [innerHTML]="slide.title"></h3>
            <img [src]="slide.image"/>
            <p padding-left padding-right [innerHTML]="slide.description"></p>
        </ion-slide>
        <ion-slide>
            <h3>Latest News!</h3>
            <img src="assets/img/intro-2.svg" />
            <p padding-left padding-right>Get to know first about the latest news of your community.</p>
            <p>
                <button ion-button color="secondary" large (click)='getUserDetails();'>Let's start</button>
            </p>            
        </ion-slide>
    </ion-slides>
</ion-content>