<ion-header>

    <ion-navbar>
        <button start ion-button menuToggle="left">
            <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
        <ion-title text-center>{{pageContent.title}}</ion-title>
        <button end ion-button menuToggle="right" (click)="homePage()">
            <ion-icon ios="ios-home-outline" md="md-home"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-avatar> 
        <img [src]="imageSrc" />
        <button ion-button clear block (click)="openGallery()">{{pageContent.buttonGetImage}}</button>
    </ion-avatar>

</ion-content>
