<ion-header>
    <form [formGroup]="formCreateAccountStep2">
        <ion-navbar text-center>
            <button ion-button (click)="saveUserLocation()">
                <ion-icon ios="ios-locate" md="md-locate"></ion-icon> {{pageContent.buttonSaveUserLocation}}
            </button>
        </ion-navbar>
    </form> 
</ion-header>

<ion-content>
    <div #map id="map"></div> 
    <!--<ion-list>
        <ion-item *ngFor="let country of countries" (click)="selectedCountry(country.name);">
            <ion-avatar item-left>
                <img src="https://s3-ap-southeast-2.amazonaws.com/ionic-app-images/flags/{{country.flag}}">
            </ion-avatar>
                <h2>{{country.name}}</h2>
                <ion-icon item-right name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-list>-->

</ion-content>
