<ion-header>

</ion-header>

<ion-content>
    <form [formGroup]="formCreateAccountStep1" padding>
        <ion-avatar> 
            <img [src]="profilePicture">
        </ion-avatar>

        <h2 text-center class="login-title">{{pageContent.formTitle}}</h2>

        <ion-list inset>

            <ion-item>
                <ion-label padding-left><ion-icon ios="ios-mail" md="md-mail"></ion-icon></ion-label>
                <ion-input id="user_email" name="user_email" placeholder="{{pageContent.formUserEmail}}" formControlName="user_email" type="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label padding-left><ion-icon ios="ios-key" md="md-key"></ion-icon></ion-label>
                <ion-input id="user_password" name="user_password" placeholder="{{pageContent.formUserPassword}}" formControlName="user_password" type="password"></ion-input>
            </ion-item>

        </ion-list>
        <ion-grid>
            <ion-row>
                <ion-col width-50>
                    <button ion-button color="primary" (click)="loginPage()" block padding ><ion-icon name="arrow-back" padding-right></ion-icon> {{pageContent.formButtonBack}}</button>
                </ion-col>
                <ion-col width-50>
                    <button ion-button color="primary" (click)="createAccountStep1()" outline block padding [disabled]="!formCreateAccountStep1.controls.user_email.valid || !formCreateAccountStep1.controls.user_password.valid"> {{pageContent.formButtonNext}} <ion-icon name="arrow-forward" padding-left></ion-icon></button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
