.ios, .md { 
    page-create-account-step-1 {  
        ion-content {
            background-image: url(../assets/img/background-login.jpg);
            background-repeat: none;
            background-size: cover;
            background-position: left;
        }

        ion-avatar > img {
            margin: auto;
        }

        .login-title {
            color: $login-title;
        }

        form {
            background-color: $login-background-transparent;
            border-radius: 4px;
            margin: 56px 16px;

        }        
    }
}